<h1><%= @client.name() %></h1>

<h3>Select all clients:</h3>

<% if @stylists.any?() %>
  <form action="/cilents/<%= @client.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @stylists.each() do |stylist| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="stylist_id[]" value="<%= stylist.id() %>"><%= stylist.name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add clients</button>
  </form>
<% end %>


<a href="/">Return to Main Page</a>
