
  <div class="form-group">
    <form action="/stylists" method="post">
    <input id="name" name="name" type="text" class="form-control" placeholder="Stylist's fullname" aria-describedby="basic-addon2">
    <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>


      <a href="/stylists">View All Stylists</a>
    </br>
      <a href="/stylists/new">Add New Stylist</a>
