  <p>Create a new stylist:</p>
    <div class="form-group">
      <form action="/stylists" method="post">
      <input id="name" name="name" type="text" class="form-control" placeholder="Stylist's fullname" aria-describedby="basic-addon2">
      <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>

  <p> Add client to any stylist:</p>

    <div class="form-group">
      <form action="/clients" method="post">
        <label for="stylist_id">Select a Stylist</label>
        <select id='stylist_id' name='stylist_id' type='text'>
          <% @stylists.each() do |stylist| %>
            <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
          <% end %>
        </select>
        <input id="name" name="name" type="text" placeholder="Client's fullname" >
      <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>

    <a href="/">Home</a>
    <a href="/stylists">View All Lists</a>
    <a href="/stylists/new">Add New List</a>
    <a href="/clients/new">Add New Task</a>
