<h3>Add a new stylist:</h3>
<div class="form-group">
  <form action="/stylists" method="post">
    <label for="name">stylist name</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add Stylist</button>
  </form>
</div>
